<!DOCTYPE html>
<html>
<head>
	<title>Botter</title>
	<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
	<nav>
		<div id="logo">
			<h1 id="logoh1">Listening Spaces</h1>
			<p>Listen to your favorite songs with friends</p>
		</div>
		<div class="auth">
			<a class="links" href="{{ url_for('auth.login') }}">Login</a>
			<a class="links" href="{{ url_for('auth.signup') }}">Sign up</a>
		</div>
	</nav>
	<div id="content">
		Login or Sign Up to continue
		<img src="{{ url_for('static',filename='spotify.png') }}">
	</div>
	<div id="content">
		Listen to music with your friends
		<img src="{{ url_for('static',filename='music.png') }}">
	</div>
	<div id="content">
		Chat with them while listening to music together.
		<img src="{{ url_for('static',filename='friends.png') }}">
	</div><div id="content">
		Make a room and listen away woth you friends
		<img src="{{ url_for('static',filename='friends.png') }}">
	</div>
</body>
</html>