<!DOCTYPE html>
<html>
<head>
	<title>Botter</title>
	<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
	<nav>
		<div id="logo">
			<h1 id="logoh1">Botter</h1>
			<p>Listen to your favorite songs with friends</p>
		</div>
		<div class="auth">
			<a class="links" href="{{ url_for('auth.login') }}">Login</a>
			<a class="links" href="{{ url_for('auth.signup') }}">Sign up</a>
		</div>
	</nav>
	<div id="content">Login or Sign Up to continue</div>
</body>
</html>