<!DOCTYPE html>
<html>
<head>
	<title>Listening Spaces</title>
	<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='rooms.css') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
</head>
<body>
	<nav>
		<div id="logo">
			<h1 id="logoh1">Listening Spaces</h1>
			<p>Listen to your favorite songs with friends</p>
		</div>
		<div class="auth">
			<a class="links" href="{{ url_for('main.create_room') }}">Create a room</a>
			<a class="links" href="{{ url_for('main.dashboard') }}">Home</a>
		</div>
	</nav>
	<div id="content">
		<div id="room">
			<form method="POST" action="">
				<input type="text" name="room_key" class="key_in" id="key_in" required="" placeholder="Enter the room key">
				<input type="submit" name="submit" class="enter" value="Enter room" id="enter">
			</form>
		</div>
	</div>
</body>
</html>