<!DOCTYPE html>
<html>
<head>
	<title>Botter</title>
	<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='authpages.css') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
	<nav>
		<div id="logo">
			<h1 id="logoh1">Listening Spaces</h1>
			<p>Listen to your favorite songs with friends</p>
		</div>
		<div class="auth">
			<p>Already a user?</p>
			<a class="links" href="{{ url_for('auth.login') }}">Login</a>
		</div>
	</nav>
	<div id="content">
		<form method="POST" action="#">
			<input class="data" type="text" name="name" placeholder="Name">
			<input class="data" type="email" name="username" placeholder="Email">
			<input class="data" type="password" name="password" placeholder="Password">
			<input class="data" type="password" name="cpassword" placeholder="Confirm password">
			{% if error %}
				<p>{{ error }}</p>
			{% endif %}
			<input class="submit" type="submit" name="submit" value="Sign up">
		</form>
	</div>
</body>
</html>